<div class="border grid grid-cols-12 gap-4">
  <div class="border col-span-6">
    <span>Heroes are indispensable</span>
    <h2>Each hero has it's own show</h2>
    
    <div>
      <a>Click here to see all shows</a>
      <a>Watch live</a>
    </div>
    
    <div>
      <span>X Total Heroes</span>
    </div>

    <div>
      <h2 highlight>{{title}}</h2>

      <div class="grid grid-pad">
        <dashboard-hero *ngFor="let hero of heroes"  class="col-1-4"
          [hero]=hero  (selected)="gotoDetail($event)" >
        </dashboard-hero>
      </div>
    </div>
  </div>
  
  <div class="border col-span-6">
    <span>Banner here</span>
  </div>
</div>
